<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servletTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>filter01</filter-name>
    <filter-class>kr.or.ddit.basic.filter.FilterTest01</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter01</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>filter02</filter-name>
    <filter-class>kr.or.ddit.basic.filter.FilterTest02</filter-class>
    <init-param>
      <param-name>tester</param-name>
      <param-value>홍길동</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>filter02</filter-name>
    <url-pattern>*.lee</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>kr.or.ddit.basic.filter.CustomEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>ipCheckFilter</filter-name>
  	<filter-class>kr.or.ddit.basic.filter.IpCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ipCheckFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>servletTest01</servlet-name>
    <servlet-class>kr.or.ddit.basic.ServletTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletTest01</servlet-name>
    <url-pattern>/servletTest01.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>FILE_NAME</param-name>
    <param-value>d:/d_other/test.txt</param-value>
  </context-param>
</web-app>
<!-- 처음에 서블릿이 정의될때 환경설정과 같은 값들을 넣음 -->